@charset "UTF-8";
 
 @media screen and (max-width:700px) {
  body,html {
    background-color: white;
  }

  h1 {
      font-size: 1.5em;
      margin: 5px;
      margin-left: 25px;
      padding-top: 2px;
 }

 form {
     height: 104vh;
     width: 80vw;
     margin-left: 10px;
 }

 fieldset {
     border-radius: 15px;
     border-color: black;
 }

  input {
    border-radius: 5px;
    border-color: black;
    text-decoration: none;
 }

 select { 
    border-radius: 5px;
    background-color: white;
  }

 .buttons {
    border-radius: 5px;
    background-color: white;
  }

  .buttons:hover {
    background-color: white;
    color: black;
  }
}

 

